#Linux
*~
*.sw[a-p]
.directory
 
#Revisioning systems
/.svn/*
*/.svn/*
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore
 
#Mac OS X
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes
 
#Windows
Thumbs.db
Desktop.ini
 
#PHP
php_errors.log
 
#IDEs, compiled languages etc.
.redcar
nbproject/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cproject
*.iml
*.ipr
*.iws
.idea/

#Composer
vendor/